
/*
    black:#02080D
    lightest:#0A89A6
    light: #0896A6
    dark:#014040
    darkest #012626
*/




@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    background-color: black;
    padding: 0;
    margin: 0;
    overflow: hidden;
    color: whitesmoke;
    font-size: 1.5em;
    font-family: "Inter", sans-serif;
}

.main-container {
    background-color:none;
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: 100vw;

}
.content {
    display: grid;
    position: relative;
    color: white;
    width: 100%;
    height: 100vh;
    z-index: 16;
    text-align: center;
    /*align-content: center;*/
    /*display: flex;*/
    /*border: 1px solid #012626;*/
    /*background: #012626;*/
    width: 93vw;
    justify-content: center;
}

.naviBar{
    z-index: 15;
}

#welcome {
    width: 70vw;
    height: 50vh;
    background-color: white;
    color: black;
    z-index: 20;
   
}



    